.header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    font-size: var(--font-size-content);
    justify-content: space-between;
    padding: 16px 32px;
}

.category {
    display: flex;
    align-items: center;
    gap: var(--gap-content);
}
