.header {
    border-bottom: 1px solid var(--color-secondary);
    display: flex;
    font-size: var(--font-size-content);
    justify-content: space-between;
    padding: 16px 32px;
}

.category {
    display: flex;
    align-items: center;
    gap: var(--gap-content);
}

.small-category {
    display: none;
}

@media (max-width: 767px) {
    .category {
        display: none;
    }

    .small-category {
        display: flex;
        align-items: center;
        min-width: auto;
        height: 100%;
        font-size: var(--font-size-content);
    }
}
