.setting-on {
    position: absolute;
    left: 50px;
    bottom: 50px;

    width: 50px;
    height: 50px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary);
    color: var(--color-reverse);
}

.setting {
    position: absolute;
    left: 50px;
    bottom: 50px;

    width: 50px;
    height: 50px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-reverse);
    color: var(--color-primary);
}

.setting:hover {
    background-color: var(--color-primary);
    color: var(--color-reverse);
}
