.input {
    background-color: var(--color-reverse);
    color: var(--color-primary);

    font-size: var(--font-size-content);
    padding: 8px;

    width: 100%;
    height: var(--font-size-title);
}

@media (max-width: 767px) {
    .input {
        font-size: var(--font-size-comment);
    }
}
