.input {
    background-color: var(--color-reverse);
    color: var(--color-primary);

    font-size: var(--font-size-content);
    padding: 8px;

    flex: 1;
    height: var(--font-size-title);
    box-sizing: content-box;
}

@media (max-width: 767px) {
    .input {
        font-size: var(--font-size-comment);
    }
}
