.room {
    background-color: var(--color-reverse);

    box-shadow: 0 0 20px var(--color-secondary);
    border-radius: 8px 8px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    right: 0;
    transform: translate(0, -100%);

    width: 300px;
    height: 600px;
    z-index: 1;
}

.header {
    border-radius: 8px 8px 0 0;

    padding: var(--padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-comment);

    width: 100%;
    height: 100px;
    background-color: var(--color-reverse);
    border-bottom: 1px solid var(--color-secondary);
}

.image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s;
}

.image:hover {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translate(-25%, -25%);
    transition: all 0.5s;
}

.image-wrapper {
    width: 50px;
    height: 50px;
    position: relative;
}

.friend-info {
    display: flex;
    gap: var(--gap-comment);
}

.friend-id {
    color: var(--color-secondary);
}

.follow-state {
    text-align: right;
    font-size: var(--font-size-comment);
    color: var(--color-secondary);
}

.date {
    padding-top: var(--padding);
    color: var(--color-secondary);
    text-align: center;
}

.time {
    padding: var(--padding);
    color: var(--color-secondary);
    font-size: var(--font-size-comment);
    text-align: center;
}

.chats {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
    flex: 1;
    padding: 24px;
}

.left {
    display: flex;
    justify-content: left;
    gap: var(--gap-comment);
    text-align: left;
}

.right {
    display: flex;
    justify-content: right;
    gap: var(--gap-comment);
    text-align: right;
}
