.default {
    border: 1px solid var(--color-secondary);
}

.primary {
    background-color: var(--color-ok);
    color: var(--color-primary);

    font-size: var(--font-size-comment);

    border: 1px solid var(--color-secondary);
}

.danger {
    background-color: var(--color-danger);

    font-size: var(--font-size-comment);

    border: 1px solid var(--color-secondary);
}

.send-message {
    border-radius: 0 0 8px 8px;
    background-color: var(--color-primary);
    color: var(--color-reverse);
    width: 100%;
}

.find-friend {
    border-radius: 8px 0 0 8px;
    background-color: var(--color-reverse);
    color: var(--color-primary);
    flex: 1;

    font-size: var(--font-size-comment);

    border: 1px solid var(--color-secondary);
}

.friend-list {
    border-radius: 0 8px 8px 0;
    background-color: var(--color-primary);
    color: var(--color-reverse);
    font-size: var(--font-size-comment);

    border: 1px solid var(--color-secondary);
}

.invisible-friend-list {
    background-color: var(--color-reverse);
    color: var(--color-primary);

    font-size: var(--font-size-comment);

    border: 1px solid var(--color-secondary);
}

.invisible-friend-list:hover {
    background-color: var(--color-primary);
    color: var(--color-reverse);
}

.search {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-reverse);

    width: 30px;
    height: auto;
}

.search:hover {
    background-color: var(--color-reverse);
}
