@media (max-width: 767px) {
    .react-button {
        width: 100%;
        border: 0;
        border-radius: 0;
        font-size: var(--font-size-content);
    }
}

.primary {
    background-color: var(--color-ok);
    color: var(--color-primary);

    font-size: var(--font-size-comment);
}

.danger {
    background-color: var(--color-danger);

    font-size: var(--font-size-comment);
}

.close {
    background-color: var(--color-primary);
    color: var(--color-reverse);
}

.send-message {
    border-radius: 0 0 8px 8px;
    background-color: var(--color-primary);
    color: var(--color-reverse);
    width: 100%;
}

@media (max-width: 768px) {
    .send-message {
        border-radius: 0px;
    }
}

.find-friend {
    border-radius: 8px 0 0 8px;
    background-color: var(--color-reverse);
    color: var(--color-primary);
    flex: 1;

    font-size: var(--font-size-comment);
}

.friend-list {
    border-radius: 0 8px 8px 0;
    background-color: var(--color-primary);
    color: var(--color-reverse);
    font-size: var(--font-size-comment);
}

.invisible-friend-list {
    background-color: var(--color-reverse);
    color: var(--color-primary);

    font-size: var(--font-size-comment);
}

.invisible-friend-list:hover {
    background-color: var(--color-primary);
    color: var(--color-reverse);
    border: none;
}

.search {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);

    background-color: var(--color-reverse);

    width: auto;
    height: auto;
    border: none;
}

.search:hover {
    background-color: var(--color-reverse);
    border: none;
}

.none {
    background-color: var(--color-reverse);

    width: auto;
    height: auto;
    border: none;
}

.none:hover {
    background-color: var(--color-reverse);
    border: none;
}

.add {
    min-width: var(--min-width);
    max-width: var(--min-width);
    height: 40px;
    font-size: var(--font-size-content);
}

.row-add {
    width: 100%;
    height: 30px;
    font-size: var(--font-size-content);
    border: none;
}

.post-metadata {
    width: 100%;
}

.minimum {
    width: fit-content;
    height: fit-content;
    padding: 8px;
}
