.content-area {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-content);
}

.input-area {
    max-width: 700px;
    width: 70%;
    height: 30%;
    min-width: var(--min-width);
    display: flex;
    flex-direction: column;
    gap: var(--gap-content);
}

.image {
    width: 70%;
    height: 300px;
    border: 1px solid var(--color-secondary);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.uploaded-image-wrapper {
    max-width: 70%;
}

.uploaded-image {
    width: 100%;
    cursor: pointer;
}

.post-metadata-area {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);

    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.message {
    font-size: 50px;
    color: white;
}
