.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-title);
}

.link {
    font-size: var(--font-size-content);
    font-weight: 500;
}

.category {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .category {
        display: none;
    }
}
