:root {
    --color-primary: #111;
    --color-secondary: rgba(128, 128, 128, 0.8);
    --color-danger: rgba(255, 0, 0, 0.5);
    --color-ok: rgba(0, 255, 0, 0.5);

    --color-reverse: #eee;

    --font-size-title: 48px;
    --font-size-content: 24px;
    --font-size-comment: 16px;

    --gap-title: 32px;
    --gap-content: 16px;
    --gap-comment: 8px;

    --margin: 20px;
    --max-width: 920px;
    --min-width: 280px;

    --min-height: 160px;

    --padding: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #eee;

        --color-reverse: #111;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: auto "Fira Sans", sans-serif;
}

html,
body {
    background-color: var(--color-reverse);
    color: var(--color-primary);
    font-size: var(--font-size-content);
    display: flex;
    flex-direction: column;
    height: 100%;
}

body.reverse {
    --color-primary: var(--color-reverse);

    --color-reverse: var(--color-primary);
}

input,
select,
textarea,
button {
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: var(--color-reverse);
    border-radius: 8px;

    color: var(--color-primary);
    font-size: var(--font-size-comment);

    cursor: pointer;
}

button:hover {
    background-color: var(--color-primary);
    color: var(--color-reverse);
}

input {
    border: 1px solid var(--color-secondary);
}
