:root {
    --color-primary: #eee;
    --color-reverse: #111;

    --color-secondary: rgba(128, 128, 128, 0.5);
    --color-danger: rgba(255, 0, 0, 0.5);
    --color-ok: rgba(0, 255, 0, 0.5);

    --font-size-title: 36px;
    --font-size-content: 24px;
    --font-size-comment: 16px;

    --gap-title: 32px;
    --gap-content: 16px;
    --gap-comment: 8px;

    --margin: 20px;
    --max-width: 920px;
    --min-width: 240px;

    --min-height: 160px;

    --padding: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: auto "Fira Sans", sans-serif;
}

html.white {
    --color-primary: #111;
    --color-reverse: #eee;
}

html.dark {
    --color-primary: #eee;
    --color-reverse: #111;
}

html,
body {
    background-color: var(--color-reverse);
    color: var(--color-primary);
    font-size: var(--font-size-content);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

input,
select,
textarea,
button {
    color: var(--color-primary);
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: 1px solid var(--color-secondary);
    background-color: var(--color-reverse);
    border-radius: 8px;

    color: var(--color-primary);
    font-size: var(--font-size-comment);

    width: 100px;
    height: 50px;

    cursor: pointer;
}

@media (min-width: 768px) {
    button:hover {
        background-color: var(--color-primary);
        color: var(--color-reverse);
    }
}

input {
    border: 1px solid var(--color-secondary);
}

footer {
    width: 100%;
    min-height: 300px;

    margin-top: var(--margin);
    border-top: 1px solid var(--color-secondary);
    background-color: var(--color-reverse);

    position: relative;
}
