.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.not-room {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.children {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.bottom-wrapper {
    width: 100%;
    height: 50px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--color-secondary);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 768px) {
    .bottom {
        display: none;
    }

    .bottom-wrapper {
        display: none;
    }
}

.setting {
    display: flex;
    align-items: center;
    gap: var(--gap-content);
}

@media (max-width: 767px) {
    .setting {
        display: none;
    }
}
