.gallery {
    max-width: var(--max-width);
    margin: var(--margin) auto;
    display: flex;
    gap: var(--gap-comment);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
