.nft-wrapper {
    width: 100%;
    max-width: 920px;
}

.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-content {
    width: 100%;
    object-fit: cover;
    height: fit-content;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper:hover .main-content {
    cursor: pointer;
}

.buy {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.image-wrapper:hover .buy {
    opacity: 0.1;
    z-index: 1;
}

.image-wrapper:hover .buy:hover {
    opacity: 1;
}

.profile {
    width: 100%;
    left: 0;
    background-color: var(--color-reverse);
    border: 1px solid var(--color-secondary);
    font-size: var(--font-size-comment);
    font-weight: bold;
    padding: 20px;
    word-break: break-all;

    display: flex;
    gap: var(--gap-content);
    align-items: center;
    cursor: pointer;
}

.profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    width: 100%;
    padding: 20px;
    font-size: var(--font-size-content);
    border: 1px solid var(--color-secondary);
    border-bottom: none;
    font-weight: bold;
}

.description {
    font-family: sans-serif;
    width: 100%;
    min-height: 100px;
    background-color: var(--color-reverse);
    border: 1px solid var(--color-secondary);
    border-top: none;
    font-size: var(--font-size-comment);
    padding: 20px;
    resize: none;
    overflow-y: hidden;
}

.message {
    font-size: 50px;
    color: white;
}

.image {
    min-width: var(--min-width);
    max-width: 100%;
    max-height: 100%;
}

.board-info {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.image-wrapper:hover .board-info {
    opacity: 1;
    background-color: var(--color-reverse);
    text-align: center;
    z-index: 1;
}
