.title {
    width: 90%;
    margin-top: var(--margin);
    max-width: var(--max-width);
    font-size: var(--font-size-title);
    text-align: left;
}

.gallery {
    max-width: var(--max-width);
    margin: var(--margin);
    display: flex;
    gap: var(--gap-comment);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    width: var(--min-width);
    object-fit: contain;
}
