.box {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-content);
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-comment);
}

.created {
    color: var(--color-secondary);
}
