.title {
    width: 90%;
    margin-top: var(--margin);
    max-width: var(--max-width);
    font-size: var(--font-size-title);
    text-align: left;
}

.box {
    box-shadow: 0px 0px 5px var(--color-secondary);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-content);

    margin: var(--margin);
    max-width: var(--max-width);
    min-width: var(--min-width);

    padding: var(--padding);

    width: 90%;
    height: var(--min-height);
}

@media (max-width: 767px) {
    .box {
        flex-direction: column;
        height: auto;
    }

    .created {
        display: flex;
        justify-content: center;
    }
}

.buttons {
    display: flex;
    gap: var(--gap-content);
}

.created {
    color: var(--color-secondary);
    font-size: var(--font-size-comment);
}

.image {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s;
}

.image:hover {
    width: 200px;
    height: 200px;
    transform: translate(-25%, -25%);
    transition: all 0.5s;
}

.image-wrapper {
    border-radius: 50%;
    object-fit: cover;

    width: 100px;
    height: 100px;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-comment);
}

.user {
    display: flex;
    align-items: center;
    gap: var(--gap-content);
}

.user-text {
    display: flex;
    justify-content: start;
    gap: 8px;
}

@media (max-width: 767px) {
    .user {
        flex-direction: column;
    }

    .user-text {
        justify-content: center;
        font-size: var(--font-size-comment);
    }
}

.user-id {
    color: var(--color-secondary);
}
