.box {
    box-shadow: 0px 0px 5px var(--color-secondary);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-content);

    margin: var(--margin);
    max-width: var(--max-width);
    min-width: var(--min-width);

    padding: var(--padding);

    width: 100%;
    height: var(--min-height);
}

.buttons {
    display: flex;
    gap: var(--gap-content);
}

.created {
    color: var(--color-secondary);
    font-size: var(--font-size-comment);
}

.image {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s;
}

.image:hover {
    width: 200px;
    height: 200px;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 1;
}

.image-wrapper {
    width: 100px;
    height: 100px;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-comment);
}

.user {
    display: flex;
    align-items: center;
    gap: var(--gap-content);
}
