.footer {
    margin: 0 auto;
    padding: var(--padding);
    width: 90%;
    max-width: var(--max-width);
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: var(--gap-content);

    font-size: var(--font-size-comment);

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, 0);
}

.info {
    width: var(--min-width);
    color: var(--color-secondary);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--gap-content);
}

.title {
    color: var(--color-primary);
    font-size: var(--font-size-content);
    font-weight: bold;
    margin-top: var(--margin);
}

@media (max-width: 767px) {
    .footer {
        padding: var(--padding) 0;
        position: relative;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .info {
        padding: var(--padding);
    }

    .title {
        margin-top: 0;
    }
}
