.post-metadata-area {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);

    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
